body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
}

.title {
    text-transform: uppercase;
}


.table-1 {
    width: 10%;
    border: 2px solid;
    padding: 30px;
    border-collapse: collapse;
}

.image{
    height: 400px;
    width: 400px;
}


th {
    background-color: #80d7fc;

    color: rgb(0, 0, 0);
}

td {
    background-color: #f8ed78;

    text-align: center;
    color: rgb(149, 37, 60);
}
.table-2{
    width: 30%;
    margin-top: 60px;
    margin-left: 80px;
}
.nomer{
    width: 100px;
}